@using BlazorBootstrap
@using Elements

<Modal @ref="addPasswordModal" Title="Add password" Size="ModalSize.Small">
    <BodyTemplate>
        <AddForm />
    </BodyTemplate>
    <FooterTemplate>
        <div class="button-container">
        <Button class="save-button" Color="ButtonColor.Primary" @onclick="SaveChanges">Save changes</Button>
        <Button class="close-button" Color="ButtonColor.Secondary" @onclick="CloseModal">Close</Button>
        </div>
        @*<div>
        <Button Color="ButtonColor.Primary" @onclick="SaveChanges">Save changes</Button>
        <Button  Color="ButtonColor.Secondary" @onclick = "CloseModal">Close</Button>    
        </div>*@
    </FooterTemplate>

</Modal>

<style>
    @*.button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px; /* Adjust the margin as needed */
    }*@

    /* ::deep Optional: Style for individual buttons */
    .save-button {
        margin-right: 60px; /* Adjust the margin for the Save button */
    }

</style>

@code {
    private Modal addPasswordModal;
    private AddForm addForm;

    public void Show()
    {
        addPasswordModal.ShowAsync();
    }

    public void CloseModal()
    {
        addPasswordModal.HideAsync();
    }

    public void SaveChanges()
    {
        //TODO add the logic from the add button from the form 
        //addForm.SubmitAddForm(); Uncomment this to test
        addPasswordModal.HideAsync();
    }
}

