@using BlazorBootstrap
@using Elements

<Modal @ref="addPasswordModal" Title="Add password">
    <BodyTemplate>
        <AddForm />
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick = "CloseModal">Close</Button>
        <Button Color="ButtonColor.Primary" @onclick = "SaveChanges">Save changes</Button>
    </FooterTemplate>

</Modal>

@code {
    private Modal addPasswordModal;
    private AddForm addForm;

    public void Show()
    {
        addPasswordModal.ShowAsync();
    }

    public void CloseModal()
    {
        addPasswordModal.HideAsync();
    }

    public void SaveChanges()
    {
        //TODO add the logic from the add button from the form 
        //addForm.SubmitAddForm(); Uncomment this to test
        addPasswordModal.HideAsync();
    }
}

