@using BlazorBootstrap

<Dropdown>
    <DropdownToggleButton Color="ButtonColor.Secondary">Style</DropdownToggleButton>
    <DropdownMenu>
        <DropdownItem To="#"><Button @onclick='(e) => ChangeCSS(e, "wide")'>Wide</Button></DropdownItem>
        <DropdownItem To="#"><Button @onclick='(e) => ChangeCSS(e, "medium")'>Medium</Button></DropdownItem>
        <DropdownItem To="#"><Button @onclick='(e) => ChangeCSS(e, "small")'>Small</Button></DropdownItem>
        <DropdownItem To="#"><Button @onclick='(e) => ChangeCSS(e, "phone")'>Phone</Button></DropdownItem>
    </DropdownMenu>
</Dropdown>

@code{

    private async Task ChangeCSS(EventArgs e, string cssFileName)
    {
        //TODO : PM-66
    }

}