@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 gradient-border-bottom">
             <NavLink class="nav-link" href="login">
                <BlazorBootstrap.Button class="main_layout_btn">Log out</BlazorBootstrap.Button>
             </NavLink>
            
            <BlazorBootstrap.Button class = "main_layout_btn" >Display</BlazorBootstrap.Button>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
    </main>
    
</div>
