@using BlazorBootstrap
@using Elements
@using ApiReturnTypes
@using PasswordManagerClient.Services
@inject PasswordApiClient passwordApi


<Modal @ref="deletePasswordModal" Title="Delete password" Size="ModalSize.Small">
    <BodyTemplate>
        <p>Are you sure you want to delete the passowrd?</p>
        <div class="delete_pass_modal_btns">
            <Button class="btn btn-primary" Color="ButtonColor.Primary" id="save-button" @onclick="() => DeletePassword(localPassword.id)">Yes</Button>
        <Button class="btn btn-primary" Color="ButtonColor.Secondary" @onclick="CloseModal">Cancel</Button>
        </div>
    </BodyTemplate>
    <FooterTemplate>
    </FooterTemplate>
    
</Modal>

@code {
    private Modal deletePasswordModal;
    private Password localPassword = new Password();

    [Parameter]
    public Password SelectedPassword { get; set; }
    [Parameter] 
    public EventCallback Refresh { get; set; }

    public async void Show()
    {
        await deletePasswordModal.ShowAsync();
    }

    public async void CloseModal()
    {
        await deletePasswordModal.HideAsync();
    }

    public async void DeletePassword(int id)
    {
        var result = await passwordApi.DeletePasswordAsync(id);
        await Refresh.InvokeAsync();
        CloseModal();
    }

    protected override void OnParametersSet()
    {
        if(SelectedPassword != null)
            localPassword = SelectedPassword;
    }
}

