@page "/about"

<PageTitle>About</PageTitle>

<p>This app was built using different technologies , below you can find a list of them: </p>
<p>Language : C#</p>
<p>Frameworks: .NET and Blazor</p>
<p>Libraries: Bootstrap</p>
<p>Source control: Git (githup link <a>https://github.com/Victor784/Password-Manager.git</a>)</p>
<p> </p>
<p>This is an application that was created for the sole purpose of learning. The authors do not guarantee the safety of your passwords, </p>
<p>if you choose to keep your passwords in this app, as even though safety masures are implemented to keep the passwords as safe as </p>
<p>possible, the safety is not that high compared to proffesional apps.</p>

<p>Feel free to play around with this app.</p>