@page "/forgotpassword"
@layout EmptyLayout
@inject NavigationManager NavigationManager


<div class="login_page">
    <div class="text-center">
        <h1>Password Manager.</h1>
        <div class="container_for_box_centering">
            <div class="forgot_password_box">
                <EditForm class="form-signin mb-4" Model="@_email" OnSubmit="@SendRetrievalEmail">
                    <div class="form-group">
                        <label for="user-name">Enter recovery e-mail:</label>
                        <InputText class="form-control" id="user-name" aria-describedby="emailHelp" placeholder="E-mail" @bind-Value=@_email.email_value />
                    </div>
     
                    <div class="form-group">
                        <button type="submit" id="login" name="login" class="btn btn-primary">Login</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>

    @code {
        public class Email { public string email_value { get; set; } = "";}
        private Email _email = new Email();

        private void SendRetrievalEmail()
        {
            @* .... Send email to user with new password*@
            NavigationManager.NavigateTo("/login");
        }
    }
</div>