@page "/login"
@layout EmptyLayout
@inject NavigationManager NavigationManager

<div class="login_page">
    <div class="text-center">
            <h1>Password Manager.</h1>
            <div class="container_for_box_centering">
                <div class="login_box">
                    <EditForm class="form-signin mb-4" Model="@_credential" OnSubmit="@Authenticate">
                        <div class="form-group">
                            <label for="user-name">User name</label>
                            <InputText class="form-control" id="user-name" aria-describedby="emailHelp" placeholder="E-mail" @bind-Value=@_credential.UserName />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <InputText type="password" class="form-control" id="password" placeholder="Password" @bind-Value=@_credential.Password />
                        </div>
                        <div class="form-group">
                            <button type="submit" id="login" name="login" class="btn btn-primary">Login</button>
                        </div>
                    </EditForm>
                    <div class="login_links">
                         <NavLink class="nav-link" href="forgotpassword">Forgot password?</NavLink>
                         <NavLink class="nav-link" href="register">Register</NavLink>
                    </div>
                </div>
            </div>
    </div>

@code {
    public class Credential { public string UserName { get; set; } = ""; public string Password { get; set; } = ""; }
    private Credential _credential = new Credential();

    private void Authenticate()
    {
            @* .... perform authentication using _credential fields*@
            NavigationManager.NavigateTo("/");
    }
}
</div>
